.navbar{
    position: absolute;
    right: 30px;
}

.navbar a{
  background-color:white;
}

body {
  width: 100%;
  min-height:100%;
  background-color: lightgray;
}

.col {
  width: 100%;
  border: black 1px solid;
  /* Font color */
  color:blue; 
} 

.homebtn{
  background-color: white;
  z-index:2;
}

.homebtn a{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}


.divtop{
  background-color: white;
  z-index:2;
}

.divbdy{
  background-color: white;
  z-index:1;
}

.divbtm {
  width:100%;
  position:absolute;
  bottom:0;
  background-color: gray;
  z-index:0;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

/* .menubuttons{
  display: none;
} */

@media (min-width: 600px) {
  /* .menubuttons{
    display: block;
  }

  .menutoggle{
    display: none;
  } */

  /* .menulist{
    display: none;
  } */
}
